{% extends "layout.html" %}
{% block content %}

<h1> {{ room.name }} </h1>

{{ room.description }}
{{ count }}

{% if room.name in ["death", "The End"] %}
<p><a href="/">Play Again?</a></p>
{% else %}
    <p>
    <form action="/game" method="POST">
    <input type="text" name="action"> <input type="SUBMIT">
    </form>
    </p>
{% endif %}
{% endblock %}