{% extends "layout.html" %}
{% block content %}

<h1> {{ room.name }} </h1>

{{ room.description }}

    <p>
    <form action="/game" method="POST">
    <input name="action" value="Continue" type="SUBMIT">
    </form>
    </p>

{% endblock %}