{% extends "layout.html" %}
{% block content %}

<h1>Fill out this form</h1>

<form action="/hello/" method="POST">
  <div class="form-group">
    <label for="greet">Greet</label>
    <input type="text" class="form-control" id="greet" name="greet" style="max-width:220px">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" style="max-width:220px">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}