{% extends "layout.html" %}
{% block content %}
{% if greeting %} I just wanted to say
    <em style="color: green; font-size: 2em;">{{ greeting }}</em>. 
{% else %}
    <em>Hello</em>, world! 
{% endif %}
{% endblock %}