{% extends "layout.html" %}
{% block content %}

<h1>Upload a File on Flask</h1>

<form  action="/upload/" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    </br><!-- <label for="exampleFormControlFile1">Pick a file here: </label> -->
    <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
    </br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

{% endblock %}